<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approve Account</title>
</head>
<body>
{% block content %}
<form action="{% url 'approve_account' accid=account.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h3 class="mb-4">Approve Customer Account</h3>
                            <h6 class="mb-4">Review Account Details here</h6>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name"
                                       value="{{account.USERNAME}}" disabled>
                                <label>NAME</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="email"
                                       value="{{account.EMAIL}}" disabled>
                                <label>EMAIL-ID</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="email"
                                       value="{{account.ACCTYPE}}" disabled>
                                <label>ACCOUNT TYPE</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="minimum_balance">
                                <label>ENTER THE MINIMUM BALANCE</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="aadhar"
                                       value="{{account.AADHAR}}" disabled>
                                <label>AADHAR NO:</label>
                            </div>
                              <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="mobile"
                                       value="{{account.MOBILE}}" disabled>
                                <label>MOBILE NO:</label>
                            </div>
                              <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="date"
                                       value="{{account.DATE}}" disabled>
                                <label>DOB</label>
                            </div>
                             <div class="form-floating mb-3">
                                <textarea class="form-control"
                                          name="address" style="height: 150px;" disabled>{{account.ADDRESS}}</textarea>
                                <label>ADDRESS</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="city"
                                       value="{{account.CITY}}" disabled>
                                <label>CITY</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="state"
                                       value="{{account.STATE}}" disabled>
                                <label>STATE</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="country"
                                       value="{{account.COUNTRY}}" disabled>
                                <label>COUNTRY</label>
                            </div>
                            <div class="mb-3">
                                <img src="{{account.IMAGE.url}}"  alt="Image" style="width:80px;height:80px;">
                            </div>
                            <button type="submit" class="btn btn-primary">APPROVE ACCOUNT</button>
                        </div>
                    </div>
</form>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 {% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}', '', 'warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}', '', 'error')
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{i}}', '', 'success')
            </script>
        {% else %}
            <script>
              swal('{{i}}', '', 'info')
            </script>
        {% endif %}
    {% endfor %}
 {% endif %}
{% endblock %}
</body>
</html>