<!DOCTYPE html>
<html lang="en">
<head>
    <title>AccountLocked</title>
</head>
<body>
    <div style="max-width: 700px; margin:300px auto; background-color: #e65656; color: #ffffff; font-family: 'Open Sans', Arial, sans-serif; border-radius: 15px;">
    <div style="padding: 25px;">
      <div style="float: left;">
        <img src="https://api.icons8.com/download/470f346b94b35f372dcd2165be630167d6519272/Color/PNG/144/Very_Basic/lock-144.png" title="Lock" width="144">
      </div>
      <div style="margin-left: 165px;">
        <h1>
          Sorry, Your Account is Locked
        </h1>
      </div>
      <div style="margin-left: 165px;">
        <p>
          Your Account has been temporarily locked due to Multiple Failed Login Attempts. Please Contact the Support
            Team for Assistance or try again after 1 hour.
        </p>
      </div>
    </div>
  </div>
</body>


