<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'home/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/custom.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet"/>
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'home/images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'home/images/logo1.jpg' %}"
                                                                       alt="image" style="width:80px;height:80px;"></a>
                    </div>
                    <div class="site_information" style="margin-top:-50px;">
                        <ul>
                            <li><a href="mailto:exchang@gmail.com"><img src="{% static 'home/images/mail_icon.png' %}"
                                                                        alt="#" />www.apexbank.com</a></li>
                            <li><a href="tel:exchang@gmail.com"><img src="{% static 'home/images/phone_icon.png' %}"
                                                                     alt="#" /></a>1800-8899-555</li>
                            <li><a class="join_bt" href="#">Join us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-xl-12 w-100">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                        <li><a class="nav-link" href="{% url 'accounts' %}">Accounts</a></li>
                        <li><a class="nav-link" href="{% url 'loans' %}">Loans</a></li>
                        <li><a class="nav-link" href="{% url 'rating_review' %}">Contact</a></li>
                        {% if request.session.NAME %}
                           <li><a class="nav-link" style="width:400px;"
                                  href="{% url 'UserLogout'  %}">Welcome...
                               {{request.session.NAME|upper}}/Logout</a></li>
                        {% else %}
                        <li><a class="nav-link" href="{% url 'userloginsignup' %}">Login/Register</a></li>
                        {% endif %}
                    </ul>
                </div>
                     </div>
                 </nav>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->

    <!-- Start Banner -->
 <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Transaction History</h3>
                        <form method="post" action="{% url 'transaction_date_fetch' %}">
                            {% csrf_token %}
                        <div class="search-box" style="margin-top:40px;">
                            <input type="date" class="search-txt" name="fromdate">
                            <input type="date" class="search-txt" name="todate">
                            <button class="search-btn" type="submit">
                                <img src="{% static 'home/images/search_icon.png' %}" alt="#" />
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
 <div class="row" style="margin-top:100px;">
          <div class="col-md-12">
                {% if on_date_history %}
            <table class="table" id="transactions">
  <thead>
    <tr>
      <th scope="col">DATE</th>
      <th scope="col">YOUR ACCOUNT</th>
      <th scope="col">TRANSACTION TYPE</th>
      <th scope="col">NARRATION</th>
      <th scope="col">AMOUNT</th>
      <th scope="col">BALANCE</th>
    </tr>
  </thead>
  <tbody>
    {% for i in on_date_history %}
    <tr class="table-warning">
      <td>{{i.created_at}}</td>
        {% if i.transfertype == 'Credit' %}
        <td>{{i.receiver_accno}}</td>
        {% elif i.transfertype == 'Debit' %}
         <td>{{i.sender_accno}}</td>
        {% elif i.transfertype == 'Deposit' %}
         <td>{{i.sender_accno}}</td>
        {% elif i.transfertype == 'Withdrawal' %}
         <td>{{i.sender_accno}}</td>
        {% endif %}
      <td>{{i.transfertype}}</td>
        {% if i.transfertype == 'Deposit' %}
         <td>Deposited to {{i.receiver_accno}}</td>
        {% elif i.transfertype == 'Withdrawal' %}
          <td>Withdrawn from {{i.receiver_accno}}</td>
         {% elif i.transfertype == 'Debit' %}
          <td>Transferred to Account No: {{i.receiver_accno}}</td>
         {% elif i.transfertype == 'Credit' %}
          <td>Received from Account No: {{i.sender_accno}}</td>
        {% endif %}
      <td>Rs.{{i.amount_transferred}}</td>
      <td>Rs.{{i.balance_amount}}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
              {% else %}
  <div style="width:100%, height:400px;margin:50px 0 50px 0;background-color:orange;color:black;">
  <h1>No Transactions between these entered dates.</h1>
  </div>
  {% endif %}
                 <div style="margin:60px 0 60px 700px;">
                        <button onclick="Export()" class="btn btn-warning">Generate PDF</button>
                        </div>
          </div>
        </div>
    <!-- Start Footer -->
      <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="{% static 'home/images/foo.gif' %}" alt="#"
                                style="width:180px;height:120px;margin-top:80px;"/>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="{% url 'home' %}">> Home</a></li>
                                    <li><a href="{% url 'about_page' %}">> About</a></li>
                                    <li><a href="{% url 'accounts' %}">> Accounts</a></li>
                                    <li><a href="{% url 'loans' %}">> Loans</a></li>
                                    <li><a href="{% url 'rating_review' %}">> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p>Subscribe our Newsletter to get latest updates.</p>
                             <div class="newsletter_form">
                                <form action="index.html">
                                   <input type="email" placeholder="Your Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src="{% static 'home/images/i5.png' %}"><span>Barakhamba Road
                        No 16, Ground Floor, DCM Building, IOH Block Barakhamba Road<br>Mumbai - 110001<br></span></li>
                               <li><img src="{% static 'home/images/i6.png' %}"><span>www.apexbank.com</span></li>
                               <li><img src="{% static 'home/images/i7.png' %}"><span>1800-8899-555</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'home/js/jquery.min.js' %}"></script>
	<script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'home/js/slider-index.js' %}"></script>
    <script src="{% static 'home/js/smoothscroll.js' %}"></script>
    <script src="{% static 'home/js/form-validator.min.js' %}"></script>
    <script src="{% static 'home/js/contact-form-script.js' %}"></script>
    <script src="{% static 'home/js/isotope.min.js' %}"></script>
    <script src="{% static 'home/js/images-loded.min.js' %}"></script>
    <script src="{% static 'home/js/custom.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 {% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}', '', 'warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}', '', 'error')
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{i}}', '', 'success')
            </script>
        {% else %}
            <script>
              swal('{{i}}', '', 'info')
            </script>
        {% endif %}
    {% endfor %}
 {% endif %}
	<script>
	/* counter js */

(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};

		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);

			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;

			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};

			$self.data('countTo', data);

			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);

			// initialize the element with the starting value
			render(value);

			function updateTimer() {
				value += increment;
				loopCount++;

				render(value);

				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}

				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;

					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}

			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};

	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};

	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });

  // start all the timers
  $('.timer').each(count);

  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
	</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        function Export() {
            html2canvas(document.getElementById('transactions'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Transaction_History.pdf");
                }
            });
        }
    </script>
</body>

</html>